*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{

    background:#F1F5F9;

}

.container{

    display:flex;

    height:100vh;

}

.left{

    width:45%;

    background:linear-gradient(180deg,#047857,#10B981);

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

.left h1{

    font-size:70px;

}

.left h2{

    font-size:35px;

    margin-top:10px;

}

.left p{

    margin-top:20px;

    opacity:.8;

}

.right{

    width:55%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.login-box{

    width:420px;

    background:white;

    padding:45px;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,.1);

}

.login-box h2{

    font-size:30px;

}

.login-box p{

    margin:10px 0 30px;

    color:gray;

}

form{

    display:flex;

    flex-direction:column;

    gap:20px;

}

input{

    height:55px;

    padding:15px;

    border:1px solid #ddd;

    border-radius:12px;

    font-size:16px;

}

input:focus{

    outline:none;

    border:1px solid #10B981;

}

button{

    height:55px;

    background:#10B981;

    color:white;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:18px;

    transition:.3s;

}

button:hover{

    background:#047857;

}
